<div class="row">
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Length (km)</th>
          <th scope="col">Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of tracks">
          <td class="{{track?.color}}">{{track?.name}}</td>
          <td>{{track?.length_km}}</td>
          <td>{{track?.rating}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label>Sort by:</label>
        <select class="form-control" name="sortBy" [(ngModel)]="sortBy" (change)="changeValue()">
          <option value="rating">Rating</option>
          <option value="length_km">Length</option>
        </select>
      </div>  
    </form>
  </div>
</div>
